*{
    font-family: sans-serif;
    margin: 0px;
    box-sizing: border-box;
}
.image-container{
    position: relative;
    width: 100%;
    overflow: hidden;
      height: 100%;
}
.image{
    display: block;
  
}

.image-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-overlay:hover{
    backdrop-filter: blur(6px);
}

.image-btn.hover{
    cursor: pointer;
    background-color: #222222;
}

.center{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
 .center button{
    padding: 10px 20px;
    font-weight: 600;
    color: black;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    border: 1px solid white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 0.15em;
    padding: 0.5em 1em;
    transition: background-color 0.25s;
} 
.center button:hover{
    background-color: black;
    color: white;
}
.popup{
    position: absolute;
    top: -50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%,-50%);
    width: 55%;
    height: 75%;
    padding: 20px 30px;
    background: #fff;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.15);
    border-radius: 15px;
    overflow: hidden;
    transition: top 0ms  ease-in-out 200ms,opacity 200ms  ease-in-out 0ms,
                transform 200ms  ease-in-out 0ms;
                background-image: url("bg.jpg");
                background-size: cover;
    
}
.popup.active{
    top:50%;
    opacity: 1;
    
    transform: translate(-50%,-50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
    opacity 200ms  ease-in-out 0ms,
                transform 200ms  ease-in-out 0ms;
}
.popup .close-btn{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
    background: #8d7410;
    font-size: 2em;
    color:#eee;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 0;
}
.popup h2{
    text-align: center;
    color:#222;
    margin: 10px 0px 20px;
    font-size: 25px;
    align-items: center;
}

.main{
  
    height: 280px;
    width: 100%;
    border: transparent;
    margin-top: -10px;
    display: flex;
}
section{
     width: 50%;
     border: transparent;
    
}
 
.cir{
    border: transparent;
    height: 130px;
    width: 130px;
    margin-left: 25%;
    margin-top: 1%;
    border-radius: 20%;
    background-image: url("../images/user.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 5px;
    
}
strong{
    margin-left: 30px;
}
p{
    margin-left: 30px;
}
.wrapper{
    height: 310px;
    position: relative;
    background: transparent;
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow:  0 0 30px rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height .2s ease;
    overflow: hidden;
    margin-top: 5%;
}
.wrapper.active{
    height: 320px;
}
 .wrapper .form-box{
    width: 100%;
    padding: 30px;
 }
 .wrapper .form-box.login{
    transition: tranform .18s ease;
    transform: translateX(0);
 }
.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-300px);
}
.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(300px);
}
.wrapper.active .form-box.register{
    transition: tranform .18s ease;
    transform: translateX(0);
}
 .form-box h2{
    font-size: 1.4em;
    color: #162938;
    text-align:  center;
    margin-top: 20%;
 }
 .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 5px 0;
 }
 .input-box label{
    position: absolute;
    top:50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: .9em;
    color: #162938;
    font-weight: 100;
    pointer-events: none;
    transition: -5s;
 }
 .input-box input:focus~label,
 .input-box input:valid~label{
      top:3px
 }
 .input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 5px 0 5px;
 }
 .input-box .icon{
    position: absolute;
    right: 8px;
    top: 15px;
    font-size: 1.2em;
    color: #162938;
    line-height-step: 57px;
 }
.remember-forget{
    font-size: .8em;
    color: #162938;
    font-weight: 500;
    margin: 15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forget label input{
    accent-color: #162938;
    margin-right: 3px;

}
.remember-forget a{
    color: #162938;
    text-decoration: none;
    font-weight: 600;
   
}
.remember-forget a:hover{
    color: #162938;
     text-decoration: underline;
}
.wrapper .btn{
    width: 100%;
    height: 35px;
    background: #6b91ea;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    margin-top: -5%;
}
.login-register{
    font-size:.9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 0px 0px 0px;
    margin-bottom: 4%;
}
.login-register p a {
    color: #162938;
    text-decoration: none;
    font-weight: 600;
    
}
.login-register p a:hover{
    text-decoration: underline;
}    
section{
    grid-template-columns: 2fr 1fr;
}
@media(max-width: 768px){
   
}